modules/server/src/main/wsdl/PowerEditorAPIInterfaceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://webservices.server.pe.mindbox.com/" name="PowerEditorAPIInterfaceService" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://webservices.server.pe.mindbox.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<documentation>
		Name ......: PowerEditor API WebService Definition
	</documentation>
	<types>
		<xs:schema targetNamespace="http://webservices.server.pe.mindbox.com/" xmlns:tns="http://webservices.server.pe.mindbox.com/">

			<xs:element name="deployRequest" type="tns:deployRequest" />

			<xs:element name="deployResponse" type="tns:deployResponse" />

			<xs:element name="deployWithCredentialsRequest" type="tns:deployWithCredentialsRequest" />

			<xs:element name="deployWithCredentialsResponse" type="tns:deployWithCredentialsResponse" />

			<xs:element name="exportDataRequest" type="tns:exportDataRequest" />

			<xs:element name="exportDataResponse" type="tns:exportDataResponse" />

			<xs:element name="exportDataWithCredentialsRequest" type="tns:exportDataWithCredentialsRequest" />

			<xs:element name="exportDataWithCredentialsResponse" type="tns:exportDataWithCredentialsResponse" />

			<xs:element name="importEntitiesRequest" type="tns:importEntitiesRequest" />

			<xs:element name="importEntitiesResponse" type="tns:importEntitiesResponse" />

			<xs:element name="importEntitiesWithCredentialsRequest" type="tns:importEntitiesWithCredentialsRequest" />

			<xs:element name="importEntitiesWithCredentialsResponse" type="tns:importEntitiesWithCredentialsResponse" />

			<xs:element name="pingRequest" type="tns:pingRequest" />

			<xs:element name="pingResponse" type="tns:pingResponse" />

			<xs:complexType name="powerEditorInterfaceReturnStructure">
				<xs:sequence>
					<xs:element name="errorFlag" type="xs:boolean" />
					<xs:element name="errorMessages" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="warningMessages" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="generalMessages" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="content" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="deployRequest">
				<xs:sequence>
					<xs:element name="status" type="xs:string" minOccurs="0" />
					<xs:element name="usageTypes" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="deployGuidelines" type="xs:boolean" />
					<xs:element name="guidelineTemplateIDs" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="deployParameters" type="xs:boolean" />
					<xs:element name="paramTemplateIDs" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="useDaysAgo" type="xs:boolean" />
					<xs:element name="daysAgo" type="xs:int" />
					<xs:element name="activeOnDate" type="xs:string" minOccurs="0" />
					<xs:element name="includeEmptyContexts" type="xs:boolean" />
					<xs:element name="includeParentCategories" type="xs:boolean" />
					<xs:element name="includeChildrenCategories" type="xs:boolean" />
					<xs:element name="includeProcessData" type="xs:boolean" />
					<xs:element name="includeCBR" type="xs:boolean" />
					<xs:element name="includeEntities" type="xs:boolean" />
					<xs:element name="contextElements" type="xs:string" minOccurs="0" />
					<xs:element name="exportPolicies" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="deployResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:powerEditorInterfaceReturnStructure" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="deployWithCredentialsRequest">
				<xs:sequence>
					<xs:element name="status" type="xs:string" minOccurs="0" />
					<xs:element name="usageTypes" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="deployGuidelines" type="xs:boolean" />
					<xs:element name="guidelineTemplateIDs" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="deployParameters" type="xs:boolean" />
					<xs:element name="paramTemplateIDs" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="useDaysAgo" type="xs:boolean" />
					<xs:element name="daysAgo" type="xs:int" />
					<xs:element name="activeOnDate" type="xs:string" minOccurs="0" />
					<xs:element name="includeEmptyContexts" type="xs:boolean" />
					<xs:element name="includeParentCategories" type="xs:boolean" />
					<xs:element name="includeChildrenCategories" type="xs:boolean" />
					<xs:element name="includeProcessData" type="xs:boolean" />
					<xs:element name="includeCBR" type="xs:boolean" />
					<xs:element name="includeEntities" type="xs:boolean" />
					<xs:element name="contextElements" type="xs:string" minOccurs="0" />
					<xs:element name="exportPolicies" type="xs:boolean" />
					<xs:element name="userID" type="xs:string" minOccurs="0" />
					<xs:element name="password" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="deployWithCredentialsResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:powerEditorInterfaceReturnStructure" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="exportDataRequest">
				<xs:sequence>
					<xs:element name="exportEntities" type="xs:boolean" />
					<xs:element name="exportSecurity" type="xs:boolean" />
					<xs:element name="exportGuidelines" type="xs:boolean" />
					<xs:element name="exportParameters" type="xs:boolean" />
					<xs:element name="exportTemplates" type="xs:boolean" />
					<xs:element name="exportGuidelineActions" type="xs:boolean" />
					<xs:element name="exportTestConditions" type="xs:boolean" />
					<xs:element name="exportDateSynonyms" type="xs:boolean" />
					<xs:element name="includeEmptyContexts" type="xs:boolean" />
					<xs:element name="includeParentCategories" type="xs:boolean" />
					<xs:element name="includeChildrenCategories" type="xs:boolean" />
					<xs:element name="status" type="xs:string" minOccurs="0" />
					<xs:element name="usageTypes" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="guidelineTemplateIDs" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="paramTemplateIDs" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="useDaysAgo" type="xs:boolean" />
					<xs:element name="daysAgo" type="xs:int" />
					<xs:element name="activeOnDate" type="xs:string" minOccurs="0" />
					<xs:element name="contextElements" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="exportDataResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:powerEditorInterfaceReturnStructure" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="exportDataWithCredentialsRequest">
				<xs:sequence>
					<xs:element name="exportEntities" type="xs:boolean" />
					<xs:element name="exportSecurity" type="xs:boolean" />
					<xs:element name="exportGuidelines" type="xs:boolean" />
					<xs:element name="exportParameters" type="xs:boolean" />
					<xs:element name="exportTemplates" type="xs:boolean" />
					<xs:element name="exportGuidelineActions" type="xs:boolean" />
					<xs:element name="exportTestConditions" type="xs:boolean" />
					<xs:element name="exportDateSynonyms" type="xs:boolean" />
					<xs:element name="includeEmptyContexts" type="xs:boolean" />
					<xs:element name="includeParentCategories" type="xs:boolean" />
					<xs:element name="includeChildrenCategories" type="xs:boolean" />
					<xs:element name="status" type="xs:string" minOccurs="0" />
					<xs:element name="usageTypes" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="guidelineTemplateIDs" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="paramTemplateIDs" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="useDaysAgo" type="xs:boolean" />
					<xs:element name="daysAgo" type="xs:int" />
					<xs:element name="activeOnDate" type="xs:string" minOccurs="0" />
					<xs:element name="contextElements" type="xs:string" minOccurs="0" />
					<xs:element name="userID" type="xs:string" minOccurs="0" />
					<xs:element name="password" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="exportDataWithCredentialsResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:powerEditorInterfaceReturnStructure" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="importEntitiesRequest">
				<xs:sequence>
					<xs:element name="content" type="xs:string" minOccurs="0" />
					<xs:element name="merge" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="importEntitiesResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:powerEditorInterfaceReturnStructure" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="importEntitiesWithCredentialsRequest">
				<xs:sequence>
					<xs:element name="content" type="xs:string" minOccurs="0" />
					<xs:element name="merge" type="xs:boolean" />
					<xs:element name="userID" type="xs:string" minOccurs="0" />
					<xs:element name="password" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="importEntitiesWithCredentialsResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:powerEditorInterfaceReturnStructure" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="pingRequest">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="pingResponse">
				<xs:sequence>
					<xs:element name="status" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</types>


	<!-- ==================================================== WSDL MESSAGE DECLARATION =================================================== -->

	<message name="importEntitiesRequest">
		<part name="importEntitiesRequest" element="tns:importEntitiesRequest" />
	</message>
	<message name="importEntitiesResponse">
		<part name="importEntitiesResponse" element="tns:importEntitiesResponse" />
	</message>
	<message name="importEntitiesWithCredentialsRequest">
		<part name="importEntitiesWithCredentialsRequest" element="tns:importEntitiesWithCredentialsRequest" />
	</message>
	<message name="importEntitiesWithCredentialsResponse">
		<part name="importEntitiesWithCredentialsResponse" element="tns:importEntitiesWithCredentialsResponse" />
	</message>
	<message name="exportDataWithCredentialsRequest">
		<part name="exportDataWithCredentialsRequest" element="tns:exportDataWithCredentialsRequest" />
	</message>
	<message name="exportDataWithCredentialsResponse">
		<part name="exportDataWithCredentialsResponse" element="tns:exportDataWithCredentialsResponse" />
	</message>
	<message name="exportDataRequest">
		<part name="exportDataRequest" element="tns:exportDataRequest" />
	</message>
	<message name="exportDataResponse">
		<part name="exportDataResponse" element="tns:exportDataResponse" />
	</message>
	<message name="deployRequest">
		<part name="deployRequest" element="tns:deployRequest" />
	</message>
	<message name="deployResponse">
		<part name="deployResponse" element="tns:deployResponse" />
	</message>
	<message name="deployWithCredentialsRequest">
		<part name="deployWithCredentialsRequest" element="tns:deployWithCredentialsRequest" />
	</message>
	<message name="deployWithCredentialsResponse">
		<part name="deployWithCredentialsResponse" element="tns:deployWithCredentialsResponse" />
	</message>
	<message name="pingRequest">
		<part name="pingRequest" element="tns:pingRequest" />
	</message>
	<message name="pingResponse">
		<part name="pingResponse" element="tns:pingResponse" />
	</message>
	
	
	<!-- =================================================== WSDL PORT DECLARATION =================================================== -->
	
	<portType name="PowerEditorAPIInterface">
		<operation name="importEntities">
			<input message="tns:importEntitiesRequest" />
			<output message="tns:importEntitiesResponse" />
		</operation>
		<operation name="importEntitiesWithCredentials">
			<input message="tns:importEntitiesWithCredentialsRequest" />
			<output message="tns:importEntitiesWithCredentialsResponse" />
		</operation>
		<operation name="exportDataWithCredentials">
			<input message="tns:exportDataWithCredentialsRequest" />
			<output message="tns:exportDataWithCredentialsResponse" />
		</operation>
		<operation name="exportData">
			<input message="tns:exportDataRequest" />
			<output message="tns:exportDataResponse" />
		</operation>
		<operation name="deploy">
			<input message="tns:deployRequest" />
			<output message="tns:deployResponse" />
		</operation>
		<operation name="deployWithCredentials">
			<input message="tns:deployWithCredentialsRequest" />
			<output message="tns:deployWithCredentialsResponse" />
		</operation>
		<operation name="ping">
			<input message="tns:pingRequest" />
			<output message="tns:pingResponse" />
		</operation>
	</portType>
	

	<!-- ================================================ WSDL BINDING DECLARATION =================================================== -->
	
	<binding name="PowerEditorAPIInterfacePortBinding" type="tns:PowerEditorAPIInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="deploy">
			<soap:operation soapAction="http://webservices.server.pe.mindbox.com/deploy" style="document"  />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deployWithCredentials">
			<soap:operation soapAction="http://webservices.server.pe.mindbox.com/deployWithCredentials" style="document"  />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="exportData">
			<soap:operation soapAction="http://webservices.server.pe.mindbox.com/exportData" style="document"  />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="exportDataWithCredentials">
			<soap:operation soapAction="http://webservices.server.pe.mindbox.com/exportDataWithCredentials" style="document"  />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="importEntities">
			<soap:operation soapAction="http://webservices.server.pe.mindbox.com/importEntities" style="document"  />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="importEntitiesWithCredentials">
			<soap:operation soapAction="http://webservices.server.pe.mindbox.com/importEntitiesWithCredentials" style="document"  />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="ping">
			<soap:operation soapAction="http://webservices.server.pe.mindbox.com/ping" style="document"  />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	
	
	<service name="PowerEditorAPIInterfaceService">
		<port name="PowerEditorAPIInterfacePort" binding="tns:PowerEditorAPIInterfacePortBinding">
			<soap:address location="http://webservices.server.pe.mindbox.com:8080/powereditor/PowerEditorWebService" />
		</port>
	</service>
</definitions>

