src/webservices/PowerEditorAPIInterfaceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://webservices.server.pe.mindbox.com/" name="PowerEditorAPIInterfaceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservices.server.pe.mindbox.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.server.pe.mindbox.com/" schemaLocation="PowerEditorAPIInterfaceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="importEntities">
    <part name="parameters" element="tns:importEntities"/>
  </message>
  <message name="importEntitiesResponse">
    <part name="parameters" element="tns:importEntitiesResponse"/>
  </message>
  <message name="importEntitiesWithCredentials">
    <part name="parameters" element="tns:importEntitiesWithCredentials"/>
  </message>
  <message name="importEntitiesWithCredentialsResponse">
    <part name="parameters" element="tns:importEntitiesWithCredentialsResponse"/>
  </message>
  <message name="exportDataWithCredentials">
    <part name="parameters" element="tns:exportDataWithCredentials"/>
  </message>
  <message name="exportDataWithCredentialsResponse">
    <part name="parameters" element="tns:exportDataWithCredentialsResponse"/>
  </message>
  <message name="exportData">
    <part name="parameters" element="tns:exportData"/>
  </message>
  <message name="exportDataResponse">
    <part name="parameters" element="tns:exportDataResponse"/>
  </message>
  <message name="deploy">
    <part name="parameters" element="tns:deploy"/>
  </message>
  <message name="deployResponse">
    <part name="parameters" element="tns:deployResponse"/>
  </message>
  <message name="deployWithCredentials">
    <part name="parameters" element="tns:deployWithCredentials"/>
  </message>
  <message name="deployWithCredentialsResponse">
    <part name="parameters" element="tns:deployWithCredentialsResponse"/>
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>
  <portType name="PowerEditorAPIInterface">
    <operation name="importEntities">
      <input message="tns:importEntities"/>
      <output message="tns:importEntitiesResponse"/>
    </operation>
    <operation name="importEntitiesWithCredentials">
      <input message="tns:importEntitiesWithCredentials"/>
      <output message="tns:importEntitiesWithCredentialsResponse"/>
    </operation>
    <operation name="exportDataWithCredentials">
      <input message="tns:exportDataWithCredentials"/>
      <output message="tns:exportDataWithCredentialsResponse"/>
    </operation>
    <operation name="exportData">
      <input message="tns:exportData"/>
      <output message="tns:exportDataResponse"/>
    </operation>
    <operation name="deploy">
      <input message="tns:deploy"/>
      <output message="tns:deployResponse"/>
    </operation>
    <operation name="deployWithCredentials">
      <input message="tns:deployWithCredentials"/>
      <output message="tns:deployWithCredentialsResponse"/>
    </operation>
    <operation name="ping">
      <input message="tns:ping"/>
      <output message="tns:pingResponse"/>
    </operation>
  </portType>
  <binding name="PowerEditorAPIInterfacePortBinding" type="tns:PowerEditorAPIInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="importEntities">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="importEntitiesWithCredentials">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="exportDataWithCredentials">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="exportData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deploy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deployWithCredentials">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PowerEditorAPIInterfaceService">
    <port name="PowerEditorAPIInterfacePort" binding="tns:PowerEditorAPIInterfacePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

